﻿#sidebar {
    width: 220px;
    margin: 4px;
    float:left;
}

#content{
    margin-left: 228px;
    margin-right: 0;
    width: auto;
}

.clear{
    clear:both;
    display:block;
}
#map-canvas img
{
    max-width: none;
}

.modalloading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modalloading {
    display: block;
}