<!DOCTYPE html>
<html lang="en">
  <head>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <!--<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">-->
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SlediMi</title>
        {% block head %}{% endblock %}
	</head>
	<body>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ url_for('index') }}">Obišči me</a>
                    <ul class="nav">
                        <li><a href="{{ url_for('map') }}">Map</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        {% if g.user.is_authenticated() %}
                            <li><a href="#">{{ g.user.username }}</a></li>
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block middle %}{% endblock %}
        </div>
        <div style="width: 100%;">
            <div id="sidebar">
                <!--Sidebar content-->
                {% block sidebar %}{% endblock %}
            </div>
            <div id="content">
                <!--Body content->-->
                {% block content %}{% endblock %}
            </div>
            <div class="clear"></div>
        </div>
	</body>
</html>

