﻿{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 20px auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                    border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                    box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }
    </style>
{% endblock %}

{% block middle %}
<form class="form-signin" method="post" name="login">
    {{form.hidden_tag()}}
    <h2 class="form-signin-heading">Please sign in</h2>
    {{form.username(size=80, placeholder="Username", class="input-block-level")}}
    {{form.password(size=80, placeholder="Password", class="input-block-level")}}
    <label class="checkbox">
        {{form.remember_me}} Remember me
    </label>
    <input type="submit" value="Sign In" class="btn btn-large btn-primary">
</form>
{% endblock %}
