﻿{% extends "base.html" %}
{% block head %}
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.10&key=AIzaSyCZZyPrgs-J6naDx3BpflZeYPQ-vGhJeV0&sensor=false">
    </script>
    <script type="text/javascript">
        var map;
        var gmarkers = [];
        var showedGMarkers = [];
        var startPosition = new google.maps.LatLng(46.155300, 15.014400);
        var infowindow = null;
        var greenIcon = new google.maps.MarkerImage('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
        var yellowIcon = new google.maps.MarkerImage('http://maps.google.com/mapfiles/ms/icons/yellow-dot.png');
        var blueIcon = new google.maps.MarkerImage('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
        var index = 0;

        function initialize() {

            var mapOptions = {
                center: startPosition,
                zoom: 8,
                streetViewControl: false,
                scaleControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            google.maps.event.addListener(map, 'click', function (event) {
                placeMarker(event.latLng);
            });
        }


        function placeMarker(location) {
            if ($('#MakeNewRoute').hasClass('active')) {
                var marker;
                if ($('#StartLocation').text() != 'Izbrana!') {
                     marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        draggable: true,
                        icon: greenIcon
                    });
                    $('#StartLocation').css('color', 'green');
                    $('#StartLocation').html('Izbrana!');
                } else {
                     marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        draggable: true,
                        icon: yellowIcon
                    });
                }
                gmarkers.push({
                    "marker": marker,
                    "description": "",
                    "index": index
                });
                attachEditeBox(marker);
            }
        }

        function attachEditeBox(marker) {
            index++;
            google.maps.event.addListener(marker, 'click', function () {
                if (infowindow) {
                    infowindow.close();
                }
                var i;
                for (i = 0; i < gmarkers.length; i++)
                    if (gmarkers[i].marker === marker)
                        break;
                var message = 'Vrstni red: <span>' + (i + 1) + '</span><br />' +
                          'Opis:<br />' +
                          '<textarea id="pointDescription" rows=\"5\" cols=\"70\" style=\"resize: none;\" onKeyPress=\"load_infowindow()\">' + gmarkers[i].description + '</textarea><br />' +
                          'Čas zadnje spremembe: ravnokar';
                infowindow = new google.maps.InfoWindow({
                    content: message
                });
                infowindow.open(map, marker);

            });


            var string = '';
            if (index == 1)
                string += '<span class=\"badge badge-success\">' + index + '</span>' +
                          '<button class=\"btn btn-link\" onclick=\"google.maps.event.trigger(gmarkers[' + (index - 1) + '].marker,' + "'click'" + ');\">Začetna točka</button><br/>';
            else
                string += '<span class=\"badge\">' + index + '</span>' +
                          '<button class=\"btn btn-link\" onclick=\"google.maps.event.trigger(gmarkers[' + (index - 1) + '].marker,' + "'click'" + ');\">Prikaži točko</button><br/>';

            $('#points').append(string);
        }

        function load_infowindow() {
            $('#pointDescription').change(function () {
                gmarkers[parseInt($('#pointDescription').parent().children('span').text()) - 1].description = $('#pointDescription').val();
            });
        }

        $(window).resize(function () {
            var p = $("#map-canvas");
            var position = p.position();
            var w = window.innerWidth;
            var h = window.innerHeight;
            $('#map-canvas').width(w - position.left);
            $('#map-canvas').height(h - position.top);
        });

        $(document).ready(function () {
            $("body").on({
                ajaxStart: function () {
                    $(this).addClass("loading");
                },
                ajaxStop: function () {
                    $(this).removeClass("loading");
                }
            });

            //setup google maps
            var p = $("#map-canvas");
            var position = p.position();
            var w = window.innerWidth;
            var h = window.innerHeight;
            $('#map-canvas').width(w - position.left);
            $('#map-canvas').height(h - position.top);


            //setup sidebar
            $('#sideTab a:first').tab('show');

            $('#sideTab a').click(function (e) {
                

                if ($(this).text() == "Moje poti") {
                    if (gmarkers.length > 0) {
                        for (var i = 0; i < gmarkers.length; i++) {
                            gmarkers[i].marker.setVisible(false);
                        }
                    }
                } else {
                    if (gmarkers.length > 0) {
                        for (var i = 0; i < gmarkers.length; i++) {
                            gmarkers[i].marker.setVisible(true);
                        }
                    }
                }
                $(this).tab('show');
            });

            $('#saveRoute').click(function () {
                var d = [];
                for (var i = 0; i < index ; i++) {
                    d.push({
                        "longitude": gmarkers[i].marker.getPosition().lng(),
                        "latitude": gmarkers[i].marker.getPosition().lat(),
                        "description": gmarkers[i].description,
                        "index": gmarkers[i].index
                    });
                }
                var rd = ({
                    "name": $("#routeName").val(),
                    "description": $("#routeDescription").val()
                });

                $.ajax({
                    type: "POST",
                    url: "map/add-route",
                    // The key needs to match your method's input parameter (case-sensitive).
                    data: JSON.stringify({ route: rd, points: d }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) { console.log(data); },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            });

            $.get('map/get-routes', function (data) {
                for (var x = 0; x < data.myOwnRoutes.length; x++) {
                    for (var i = 0; i < data.myOwnRoutes[x].points.length; i++) {
                        showedGMarkers.push(data.myOwnRoutes[x].points[i]);
                    }
                }

                console.log(showedGMarkers);
                console.log(data);
            });
        });

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block sidebar %}
<ul class="nav nav-tabs" id="sideTab">
    <li><a href="#MyRoutes" data-toggle="tab">Moje poti</a></li>
    <li><a href="#MakeNewRoute" data-toggle="tab">Ustvari novo</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane" id="MyRoutes">
        {% if not myOwnRoutes %}
            <p>Nimate svojih poti!</p>
        {% else %}
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Moje lastne poti
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Poti ki jim sledim
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                    Evo potke:)
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="tab-pane" id="MakeNewRoute">
        <input id="routeName" class="input-medium" type="text" placeholder="Ime poti">
        <label class="control-label" for="description">Opis poti:</label>
        <textarea rows="3" id="routeDescription"></textarea>
        <span class="help-inline">Začetna lokacija: <span id="StartLocation" style="color: red">Ni izbrana!</span></span>
        <div id="points"></div>
        <button id="saveRoute" class="btn btn-primary">Shrani</button>
    </div>
</div>
{% endblock %}


{% block content %}
    <div id="map-canvas"></div>
    <div class="modalloading"><!-- Place at bottom of page --></div>
{% endblock %}


<!--large_green
grn_blank
ylw_blank
flag
arrow
large_yellow
large_blue-->